<ion-header>
  <ion-toolbar>
    <ion-title>ward-admin</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-grid *ngIf="data.wards | async; let ww; else loading;">
        <ion-row *ngFor="let ward of ww">
            <ion-col>{{ward.ward_name}}</ion-col>
            <ion-col><a [routerLink]="['/ward-admin']">Manage</a></ion-col>
            <ion-col><a (click)="onClose(ward.ward_id)">Close</a></ion-col>
          </ion-row>
      </ion-grid>
      <ng-template #loading>Loading&hellip;</ng-template>
    </ion-item>
    <ion-item>
      Ward Name
    </ion-item>
    <ion-item>
      <ion-input type="text">Apple</ion-input>
    </ion-item>
    <ion-item>
      <a href="/ward-manage/Apple">Manage</a>
    </ion-item>
  </ion-list>
  

</ion-content>
