<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-list>
        <ion-item>
            <ion-button color="primary" (click)="onLoginWithGoogle()">Login with your Google account</ion-button>
        </ion-item>
        <ion-list-header>
            <ion-label>
              -OR- Login with an email and password
            </ion-label>
          </ion-list-header>
          <ion-item>
            <ion-label>email</ion-label>
          </ion-item>
          <ion-item>
            <ion-input type="email" [(ngModel)]="email"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Password</ion-label>
          </ion-item>
          <ion-item>
            <ion-input type="password" [(ngModel)]="password"></ion-input>
          </ion-item>
          <ion-item>
              <ion-button color="primary" (click)="onLogin()">Login</ion-button>
          </ion-item>        
          <ion-item>
              <ion-button color="primary">Forgot my password</ion-button>
          </ion-item>        

      </ion-list>
</ion-content>
