<ion-header>
  <ion-toolbar>
    <ion-title>ward-patients</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  
  <ion-list>
      <ion-grid>
          <ion-row>
            <ion-col>{{data.currentWard.ward_name}}</ion-col>
          </ion-row>
        </ion-grid>
    <ion-item>
      Add Patient
    </ion-item>
    <ion-item>
      Patient Name
    </ion-item>
    <ion-item>
      <ion-input type="text" [(ngModel)]="newPatientName"></ion-input>
    </ion-item>
    <ion-item>
        <ion-select [(ngModel)]="newPatientObservationLevel">
            <ion-select-option value="60">Level 1: General (60 min)</ion-select-option>
            <ion-select-option value="30">Intermittent (30 min)</ion-select-option>
            <ion-select-option value="20">Intermittent (20 min)</ion-select-option>
            <ion-select-option value="15">Intermittent (15 min)</ion-select-option>
            <ion-select-option value="10">Intermittent (10 min)</ion-select-option>
            <ion-select-option value="2">Level 3 (eyesight)</ion-select-option>
            <ion-select-option value="1">Level 4 (arms-length)</ion-select-option>
          </ion-select>

    </ion-item>
    <ion-item>
      <ion-button (click)="onAddPatient()">Add</ion-button>
    </ion-item>

      <ion-item *ngFor="let patient of data.currentWard.patients">
        <ion-col size=6>
          <ion-badge *ngIf="patient.observations && patient.observations.length" 
            color="{{
                patient.observations[patient.observations.length-1].result==='ok' ? 
                (data.timestamp - patient.observations[patient.observations.length-1].time < 60000 ? 'primary' : 'warning')
                :'danger'}}">{{patient.observations.length}}</ion-badge>
          {{patient.patient_name}}  
        </ion-col>
        <ion-col size=4 pull-right><ion-icon name="remove" 
          (click)="data.removePatient(data.currentWard.ward_id, patient.patient_id)" ></ion-icon></ion-col>          
      </ion-item>
                                                
  </ion-list>

</ion-content>
