<ion-header>
  <ion-toolbar>
    <ion-title>ward-patients</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  
  <ion-list>
    <ion-item>
      Add Patient
    </ion-item>
    <ion-item>
      Patient Name
    </ion-item>
    <ion-item>
      <ion-input type="text"></ion-input>
    </ion-item>
    <ion-item>
        <ion-select>
            <ion-select-option value="60">Level 1: General (60 min)</ion-select-option>
            <ion-select-option value="30">Intermittent (30 min)</ion-select-option>
            <ion-select-option value="20">Intermittent (20 min)</ion-select-option>
            <ion-select-option value="15">Intermittent (15 min)</ion-select-option>
            <ion-select-option value="10">Intermittent (10 min)</ion-select-option>
            <ion-select-option value="10">Level 3 (eyesight)</ion-select-option>
            <ion-select-option value="1">Level 4 (arms-length)</ion-select-option>
          </ion-select>

    </ion-item>
    <ion-item>
      <ion-button>Add</ion-button>
    </ion-item>
      <ion-item>
          Fred Flintstone
           <ion-icon name="remove"></ion-icon>
        </ion-item>
    
        <ion-item>
            Wilma Flintstone <ion-icon name="remove"></ion-icon>
          </ion-item>
    
          <ion-item>
              Barney Rubble <ion-icon name="remove"></ion-icon>
            </ion-item>
    
            <ion-item>
                Betty Rubble <ion-icon name="remove"></ion-icon>
              </ion-item>
                                                
  </ion-list>

</ion-content>
