<ion-header>
  <ion-toolbar>
    <ion-title>ward-patients</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  
  <ion-list>
      <ion-grid>
          <ion-row>
            <ion-col>{{data.currentWardName}}</ion-col>
          </ion-row>
        </ion-grid>
    <ion-item>
      Add Patient
    </ion-item>
    <ion-item>
      Patient Name
    </ion-item>
    <ion-item>
      <ion-input type="text" [(ngModel)]="newPatientName" placeholder="Patient name"></ion-input>
    </ion-item>
    <ion-item>
        <ion-select [(ngModel)]="newPatientObservationLevel" placeholder="Choose observation Level">
            <ion-select-option *ngFor="let level of data.levels" value="{{level.id}}">{{level.name}}</ion-select-option>
        </ion-select>
    </ion-item>
    <ion-item>
      <ion-button (click)="onAddPatient()">Add</ion-button>
    </ion-item>
    <ion-item *ngIf="data.patients | async; let pp; else loading;">

      <ion-item *ngFor="let patient of pp">
        <ion-col size=6>
          <ion-badge *ngIf="patient.observations && patient.observations.length" 
            color="{{
                patient.observations[patient.observations.length-1].result==='ok' ? 
                (data.timestamp - patient.observations[patient.observations.length-1].time < 60000 ? 'primary' : 'warning')
                :'danger'}}">{{patient.observations.length}}</ion-badge>
          {{patient.patient_name}}  
        </ion-col>
        <ion-col size=4 pull-right><ion-icon name="remove" 
          (click)="data.removePatient(data.currentWard.ward_id, patient.patient_id)" ></ion-icon>
        </ion-col>          
      </ion-item>
    </ion-item> 
    <ng-template #loading>Loading&hellip;</ng-template>
                                                
  </ion-list>

</ion-content>
