<ion-header>
  <ion-toolbar>
    <ion-title>ward-join</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <ion-label>Join Code</ion-label>
  </ion-item>
  <ion-item>
    <ion-input type="text" placeholder="Join Code" [(ngModel)]="joinCode"></ion-input>
    <ion-button pull-right (click)="getWardsToJoin()"><ion-icon name="search"></ion-icon></ion-button>
  </ion-item>
  <ion-item>
  </ion-item>
  <ion-item *ngIf="wardsToJoin">
    <ion-grid>
      <ion-row *ngFor="let ward of wardsToJoin">
          <ion-col>{{ward.ward_name}}</ion-col>
          <ion-col><ion-button *ngIf="ward.can_join" (click)="joinWard(ward.ward_id)"><ion-icon name="checkmark-circle-outline"></ion-icon></ion-button></ion-col>
          <ion-col><ion-button *ngIf="ward.can_leave" (click)="leaveWard(ward.ward_id)"><ion-icon name="exit"></ion-icon></ion-button></ion-col>
          <ion-col>{{ward.permission}}</ion-col>
        

      </ion-row>
    </ion-grid>
  </ion-item>
  <ion-item>

  </ion-item>
  <ion-item>

  </ion-item>
  <ion-item>

  </ion-item>
                                                                      
</ion-content>
