<ion-header>
  <ion-toolbar>
    <ion-title>welcome</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
<ion-list>
  <ion-item>First, you need to&nbsp;<a color="primary" href="/login">log in</a>&nbsp;or&nbsp;<a color="primary" href="/register">register</a></ion-item>
  <ion-item>Then, if you are a nurse, you need to&nbsp;<a color="primary" href="/ward-join">Join a Ward</a></ion-item>
  <ion-item>Or if you are an Administrator you need to&nbsp;<a color="primary" href="/register-admin">Register</a></ion-item>
  <ion-item>When you have Registered as and Admin you can&nbsp;then&nbsp;<a color="primary" href="/ward-admin">Create a Ward</a></ion-item>
  <ion-item>If you are an Administrator or Manager of a Ward then you need to&nbsp;<a color="primary" href="/ward-manage">allow Nurses to join the ward</a></ion-item>
  <ion-item>Then any user can&nbsp;<a color="primary" href="/ward-patients">add Patients</a></ion-item>
  <ion-item>Any user can&nbsp;<a color="primary" href="/home">Observe patients</a>&nbsp;during the shift: you'll be notified if an Observation is overdue</ion-item>
  <ion-item>Any user can&nbsp;<a color="primary" href="/obs-report">run a report of observations</a>&nbsp;during the shift</ion-item>
</ion-list>
</ion-content>
