<ion-header>
  <ion-toolbar>
    <ion-title>register-admin</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-label>Name of Trust or Hospital</ion-label>
    </ion-item>
    <ion-item>
      <ion-input type="text"></ion-input>
    </ion-item>
    <ion-item>
      Wards <a pull-right href="/ward-admin">+</a>
    </ion-item>
    <ion-item>
        <a href="/ward-admin/Apple">Apple</a>
      </ion-item>
    <ion-item>
        <a href="/ward-admin/Beetroot">Beetroot</a>
    </ion-item>
    <ion-item>
        <a href="/ward-admin/Cucumber">Cucumber</a>
    </ion-item>
    </ion-list>

</ion-content>
