<ion-header>
  <ion-toolbar>
    <ion-title>ward-view-options</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
<ion-list>
  <ion-item> 
      <!-- *ngIf="data.wards | async; let ww2; else loading;" -->
    <ion-select placeholder="Select Ward"  [(ngModel)]="currentWardId">
        <!-- -->
        <ion-select-option *ngFor="let ward of data.wardsSnapshot" value="{{ward.ward_id}}" >{{ward.ward_name}} ({{ward.ward_id}})</ion-select-option>
      </ion-select>
  </ion-item>
  <ion-item>
    <ion-select placeholder="Select View Type" [(ngModel)]="data.currentFilter">
        <ion-select-option *ngFor="let s of data.filters" value="{{s.name}}" >{{s.description}}</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <input type="text" [(ngModel)]="data.color" />
  </ion-item>
  <ion-item>
      <a pull-right color="primary" [routerLink]="['/']">Done</a>
  </ion-item>
  
</ion-list>
</ion-content>
