<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <p><a [routerLink]="['/welcome']">Go to the Welcome page</a></p>
  <ion-item>
    <ion-input type="text" [(ngModel)]="data.color" (change)="onChangeColor()"></ion-input>
    <button ion-button (click)="onChangeColor()">WTAF</button>
    <ion-button (ionClick)="onChangeColor()">wtf</ion-button>
  </ion-item>
  
  <ion-grid>
    <ion-row>
      <ion-col>{{data.currentWard.ward_name}}</ion-col>
      <ion-col pull-right size="auto"><a  [routerLink]="['/ward-view-options']"><ion-icon name="eye"></ion-icon></a></ion-col>
      <ion-col pull-right size="auto"><a [routerLink]="['/welcome']"><ion-icon name="cog"></ion-icon></a></ion-col>
    </ion-row>
  </ion-grid>

  <ion-list>
    <ion-item>Fred Flintstone <ion-icon name="checkmark"></ion-icon> <ion-icon name="warning"></ion-icon></ion-item>
    <ion-item>Wilma Flintstone <ion-icon name="checkmark"></ion-icon> <ion-icon name="warning"></ion-icon></ion-item>
    <ion-item>barney rubble <ion-icon name="checkmark"></ion-icon> <ion-icon name="warning"></ion-icon></ion-item>
    <ion-item>betty rubble <ion-icon name="checkmark"></ion-icon> <ion-icon name="warning"></ion-icon></ion-item>
  </ion-list>
</ion-content>
