<ion-header>
  <ion-toolbar>
    <ion-title>
        <ion-row>
            <ion-col>{{data.currentWardName}}</ion-col>
            <ion-col pull-right size="auto"><a  [routerLink]="['/ward-view-options']"><ion-icon name="eye"></ion-icon></a></ion-col>
            <ion-col pull-right size="auto"><a [routerLink]="['/welcome']"><ion-icon name="cog"></ion-icon></a></ion-col>
          </ion-row>      
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-list *ngIf="data.patients | async ; let pp; else loading;">
    <div *ngFor="let patient of pp">
      <ion-item-sliding #slidingItem>
              <ion-item *ngIf="patient.is_on_ward">
                  <ion-col size=6>
                    <ion-badge *ngIf="patient.last_observation"
                      color="{{data.patientBadgeColor(patient, data.timestamp)}}">{{data.patientBadgeText(patient, data.timestamp)}} </ion-badge>
                    
                    {{patient.patient_name}}
            
                  </ion-col>
                  <ion-col size=4 pull-right><ion-icon name="checkmark" 
                    (click)="data.observePatient(patient, 'ok')" ></ion-icon></ion-col>
                  <ion-col size=4 pull-right><ion-icon name="warning"
                    (click)="data.observePatient(patient, 'alert')" ></ion-icon></ion-col>
                 
              </ion-item>
          
        <ion-item-options side="end">
          <ion-item-option (click)="data.observePatient(patient, 'on leave', slidingItem)">Send On Leave</ion-item-option>
          <ion-item-option (click)="data.observePatient(patient, 'discharge', slidingItem)">Discharge</ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </div>
</ion-list>
<ng-template #loading>Loading&hellip;
  <ion-item *ngIf="!data.authId"><a color="primary" [routerLink]="['/login']">Log in</a>
    &nbsp;or&nbsp;<a color="primary" [routerLink]="['/register']">register</a></ion-item>
</ng-template>
</ion-content>
