<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <p><a [routerLink]="['/welcome']">Go to the Welcome page</a></p>
  <ion-item>
    <ion-input type="text" [(ngModel)]="data.color" (change)="onChangeColor()"></ion-input>
    <button ion-button (click)="onChangeColor()">WTAF</button>
    <ion-button (ionClick)="onChangeColor()">wtf</ion-button>
  </ion-item>
  
  <ion-grid>
    <ion-row>
      <ion-col>{{data.currentWard.ward_name}}</ion-col>
      <ion-col pull-right size="auto"><a  [routerLink]="['/ward-view-options']"><ion-icon name="eye"></ion-icon></a></ion-col>
      <ion-col pull-right size="auto"><a [routerLink]="['/welcome']"><ion-icon name="cog"></ion-icon></a></ion-col>
    </ion-row>
  </ion-grid>

  <ion-list>
    <ion-item *ngFor="let patient of data.currentWard.patients">
      <ion-col size=6>
        <ion-badge 
          *ngIf="patient.observations && patient.observations.length" 
          color="{{
              patient.observations[patient.observations.length-1].result==='ok' ? 
              (data.timestamp - patient.observations[patient.observations.length-1].time < 60000 ? 'primary' : 'warning')
              :'danger'}}">{{patient.observations.length}}</ion-badge>
        {{patient.patient_name}}

      </ion-col>
      <ion-col size=4 pull-right><ion-icon name="checkmark" 
        (click)="data.observePatient(patient, 'ok')" ></ion-icon></ion-col>
      <ion-col size=4 pull-right><ion-icon name="warning"
        (click)="data.observePatient(patient, 'alert')" ></ion-icon></ion-col>
       
    </ion-item>
  </ion-list>
</ion-content>
